
@{
    ViewBag.Title = "AddUser";
}

<h2>Add User</h2>

<form action="../Home/Index" method="post">

    <div>
        <p>Please Enter Email <input type="text" name="Email" required /></p><br />
        <p>Please Enter A Password <input type="text" name="Password" required /></p><br />
        <input type="submit" value="Create User" />


    </div>


</form>